dist/release/ui
dist/release/main.js
dist/release/preload.js
dist/release/build/mas/embedded.provisionprofile
dist/release/dist
dist/dev/main
dist/dev/preload
dist/website
node_modules/
.DS_Store
package-lock.json